include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/template_ons *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/template_ons/migration *.ini *.py *.mako
