beautifulsoup4==4.9.1
coveralls   #Let Unpinned - Requires latest coveralls
docutils==0.12
factory-boy==2.12.0
Flask-DebugToolbar==0.11.0
freezegun==0.3.15
ipdb==0.13.2
responses==0.10.14
mock==2.0.0
pycodestyle==2.5.0
Pillow==9.2.0; python_version > '3.0'
Pillow==6.2.2; python_version < '3.0'
pip-tools==5.1.2
pyfakefs==3.2
Sphinx==1.8.5
sphinx-rtd-theme==0.4.3
cookiecutter==1.7.0

pytest==4.6.5
pytest-split-tests==1.0.9
pytest-cov==2.7.1
pytest-freezegun==0.4.1
pytest-rerunfailures==8.0
towncrier==19.2.0
uritemplate
ckantoolkit>=0.0.7
pika>=1.1.0
pyOpenSSL>22.10
requests>=2.11.1
Flask
Jinja2
jinja2-time
oauth2client
wheel
WebOb
rsa
uWSGI
rq
pbr
PyJWT
pybabel
activate
