{% trans %}
<p>O <strong>Portal de Dados Abertos do ONS</strong> foi desenvolvido com o objetivo de tem como objetivo facilitar, melhorar, democratizar o acesso e consumo de dados históricos da operação do Sistema Interligado Nacional - SIN. Em linha com o <strong>Planejamento Estratégico</strong> para o ciclo 2022-2024 e seu objetivo estratégico <strong>ONS + Digital</strong>, o site é uma importante ferramenta para <strong>ampliar a digitalização do Operador para que o órgão se torne mais orientado a dados e se consolide como um centro de informações de valor para o setor elétrico e para a sociedade brasileira.</strong></p>
<p>Seguindo as regras que classificam o conceito de dados abertos, o Portal disponibiliza dados na Internet, sem a necessidade de utilização de software proprietário para sua leitura; garante liberdade para reuso e redistribuição de dados sem restrição de divulgação; e permite que os dados estejam liberados para uso em qualquer área de atuação do usuário, seja ele uma organização comercial, governamental, grupo de pessoas ou indivíduo. O site atende ainda os oito princípios dos dados abertos: completos; primários; atuais; acessíveis; compreensíveis por máquina; não discriminatórios; não proprietários; e livres de licença. </p>
<p><strong>1- Completos</strong></p>
<p>Disponibilização de todos os dados públicos: aqueles que não estão sujeitos a restrições de privacidade, segurança ou privilégios de acesso. </p>
<p><strong>2- Primários</strong></p>
<p>Coleta de dados na fonte com o maior nível de detalhamento possível, e não de forma agregada ou modificada. </p>
<p><strong>3- Atuais</strong></p>
<p>Disponibilidade de dados realizada tão rapidamente quanto necessário para preservar o valor dos dados. </p>
<p><strong>4- Acessíveis</strong></p>
<p>Disponibilização de dados para a mais ampla gama de usuários e as mais diversas finalidades. </p>
<p><strong>5- Compreensíveis por máquina</strong></p>
<p>Estruturação razoável dos dados de modo a permitir o processamento automatizado. </p>
<p><strong>6- Não discriminatórios</strong></p>
<p>Disponibilidade de dados para todos, sem a necessidade de cadastro ou solicitação. </p>
<p><strong>7- Não proprietários</strong></p>
<p>Disponibilidade de dados em formato sobre o qual nenhuma organização detenha controle exclusivo. </p>
<p><strong>8- Livres de Licença</strong></p>
<p>Disponibilidade de dados sem nenhuma restrição de direito autoral, patente, propriedade intelectual ou segredo industrial. Restrições sensatas relacionadas à privacidade, segurança e privilégio de acesso são permitidas.  </p>
<p><strong>Sobre o ONS:</strong></p>
<p>O Operador Nacional do Sistema Elétrico (ONS) é responsável pela coordenação e controle da operação das instalações de geração e transmissão de energia elétrica no Sistema Interligado Nacional (SIN) e pelo planejamento da operação dos sistemas isolados do país, sob a fiscalização e regulação da Agência Nacional de Energia Elétrica (Aneel). Com a certificação internacional da edição 2021 do Great Place to Work (GPTW), o órgão tem centros de monitoramento, com equipes atuando 24 horas durante todos os dias da semana, espalhados por quatro estados: Rio de Janeiro, Brasília, Recife e Florianópolis. O ONS é composto por membros associados e membros participantes, que são as empresas de geração, transmissão, distribuição, consumidores livres, importadores e exportadores de energia. Também participam o Ministério de Minas e Energia (MME) e representantes dos Conselhos de Consumidores.</p>
{% endtrans %}
