{% set intro = g.site_intro_text %}

<div class="module-content box">
  <div>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Bem vindo ao ONS Dados Abertos") }}</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus scelerisque ante scelerisque orci tempor, vel venenatis augue blandit. Sed eu sodales orci. Maecenas et tellus molestie, rhoncus lectus in, pellentesque mauris. Praesent dictum sodales arcu vel tincidunt. Sed eleifend lacus nisi, in posuere urna dapibus eget. Ut risus massa, vestibulum eget elit at, rutrum bibendum orci. Morbi sagittis neque lectus, id iaculis nisi porta id. Curabitur eget mi maximus, sagittis justo imperdiet, iaculis urna. Ut tellus lacus, facilisis eget magna ac, ultrices fermentum neque.

        Nam in tempus ipsum. Vestibulum at pulvinar lorem. Morbi fringilla nisl felis, id lobortis ex pulvinar id. Integer eu urna eget purus varius eleifend ac eget diam. Aenean tellus libero, feugiat in felis eget, venenatis pharetra erat. In quis sollicitudin quam. Mauris ac magna vel augue pulvinar sodales. Fusce eu tincidunt metus, vitae feugiat nibh. Aliquam accumsan purus ac leo pharetra accumsan. Sed eget fermentum quam.
        
        Nulla quis tortor ornare, elementum elit ac, fermentum lorem. Donec posuere quis quam a ultrices. Sed urna ligula, efficitur et neque quis, malesuada commodo magna. Maecenas interdum vulputate tellus et consequat. Nulla facilisi. Integer ac justo nec justo consequat consequat. Ut eget accumsan purus. Suspendisse accumsan iaculis leo, ut condimentum metus varius sit amet.
      </p>
    {% endif %}
  </div>
  {# Comentado Area de estatistica
  {% block home_image %}
    <section class="featured media-overlay hidden-xs">
      <h2 class="media-heading">{% block home_image_caption %}{{ _("This is a featured section") }}{% endblock %}</h2>
      {% block home_image_content %}
        <!--a class="media-image" href="#">
          <img class="img-responsive" src="{{ h.url_for_static('/base/images/placeholder-420x220.png') }}" alt="Placeholder" width="420" height="220" />
        </a-->
      {% endblock %}
    </section>
  {% endblock %}
  #}
</div>
